body .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
body .container .container-left,
body .container .container-right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
body .container .container-left {
  align-items: center;
  justify-content: center;
  gap: 15px;
}
body .container .container-left #arrow-right,
body .container .container-left #arrow-left {
  display: none;
}
body .container .container-left .selected,
body .container .container-left .thumbnails {
  width: 450px;
}
body .container .container-left .selected {
  border-radius: 12px;
  cursor: zoom-in;
}
body .container .container-left .thumbnails {
  display: flex;
  justify-content: space-between;
}
body .container .container-left .thumbnails img {
  width: 90px;
  cursor: pointer;
  border-radius: 12px;
}
body .container .container-left .thumbnails img:hover {
  transform: scale(1.1);
}
body .container .container-left .thumbnails .miniature.emphasis {
  opacity: 0.7;
  border: solid orange 4px;
}
body .container .container-right {
  justify-content: space-evenly;
  padding-left: 2%;
}
body .container .container-right .small-title {
  color: orange;
  font-weight: 700;
  text-transform: uppercase;
}
body .container .container-right .main-title {
  font-size: 5.2rem;
}
body .container .container-right .paragraph {
  width: 60%;
}
body .container .container-right .sale-price {
  display: flex;
  gap: 20px;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: -50px;
}
body .container .container-right .sale-price .percentage {
  color: orange;
  background-color: rgba(250, 199, 105, 0.641);
}
body .container .container-right .old-price {
  text-decoration: line-through;
}
body .container .buttons-field {
  display: flex;
  gap: 40px;
}
body .container .buttons-field .quantity-field {
  background-color: rgba(220, 220, 220, 0.909);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  padding: 15px 8px;
  border-radius: 12px;
}
body .container .buttons-field .quantity-field #minus,
body .container .buttons-field .quantity-field #plus {
  cursor: pointer;
  padding: 5px;
}
body .container .buttons-field .quantity-field #minus:active,
body .container .buttons-field .quantity-field #plus:active {
  transform: scale(1.4);
}
body .container .buttons-field button {
  background-color: rgb(255, 136, 0);
  color: #fff;
  border: none;
  padding: 10px;
  width: 60%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 15px;
  transition: 0.2s ease-in;
  cursor: pointer;
  box-shadow: 2px 8px 8px orange;
}
body .container .buttons-field button img {
  filter: brightness(9);
}
body .container .buttons-field button:hover {
  background-color: orange;
}
body .container .buttons-field button:active {
  transform: scale(0.8);
}
@media (max-width: 900px) {
  body .container .container-left .selected {
    width: 300px;
  }
  body .container .container-left .thumbnails {
    width: 200px;
    flex-wrap: wrap;
    gap: 10px;
  }
  body .container .container-left .thumbnails img {
    width: 80px;
  }
  body .container .container-right {
    padding-left: 0;
  }
  body .container .container-right .main-title {
    font-size: 3.8rem;
  }
  body .container .container-right .paragraph {
    width: 85%;
  }
  body .container .container-right .sale-price {
    font-size: 2.5rem;
    margin-bottom: -40px;
  }
}
@media (max-width: 736px) {
  body .container {
    flex-direction: column;
  }
  body .container .container-left {
    width: 100%;
    gap: 0;
    position: relative;
  }
  body .container .container-left #arrow-right,
  body .container .container-left #arrow-left {
    background-color: gainsboro;
    position: absolute;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
  }
  body .container .container-left #arrow-right {
    right: 3%;
  }
  body .container .container-left #arrow-left {
    left: 3%;
  }
  body .container .container-left .selected {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 0;
    cursor: default;
  }
  body .container .container-left .thumbnails {
    display: none;
  }
  body .container .container-right {
    width: 100%;
    gap: 35px;
    padding: 30px;
  }
  body .container .container-right .paragraph {
    width: 100%;
  }
  body .container .container-right .sale-price {
    font-size: 2.5rem;
    margin-bottom: -50px;
  }
  body .container .container-right .old-price {
    text-decoration: line-through;
    margin-top: 5%;
  }
  body .container .buttons-field {
    flex-direction: column;
    gap: 20px;
  }
  body .container .buttons-field .quantity-field {
    width: 100%;
    justify-content: space-around;
  
  }
  body .container .buttons-field button {
    padding: 15px 5px;
    width: 100%;
  }
  .balao-do-carrinho {
    right: 10%;
    top: 110%;
    width: 220px;
  }
  .light-box.open {
    display: none;
  }
}