header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 4px 20px -16px;
}
header .mobile-navbar,
header .mobile-menu,
header .navbar ul .close-mobile-navbar {
  display: none;
}
header .logo {
  margin-right: 45px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
header .logo:hover {
  filter: drop-shadow(0 0 0.6rem orange);
}
header .navbar {
  margin-right: auto;
}
header .navbar ul {
  display: flex;
  gap: 25px;
}
header .navbar ul li {
  color: gray;
  transition: 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
}
header .navbar ul li:hover {
  color: #000;
}
header .navbar ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 8px;
  left: 0;
  top: calc(100% + 23px);
  background-color: orange;
  transition: ease-in-out 0.3s transform;
  transform: scaleX(0);
  transform-origin: right;
}
header .navbar ul li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
header .avatar-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  position: relative;
}
header .avatar-field .cart,
header .avatar-field .avatar {
  cursor: pointer;
  width: 40px;
}
header .avatar-field .cart-counter {
  background-color: orange;
  padding: 2px 4px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 20%;
  opacity: 0;
}
header .avatar-field .cart-counter.visible {
  opacity: 1;
}
header .avatar-field .avatar {
  border-radius: 50%;
}
header .avatar-field .avatar:hover {
  border: orange solid 2px;
}
.cart-field {
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 10%;
  width: 280px;
  height: 200px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  opacity: 0;
  z-index: 3;
  transition: ease-in-out 0.3s;
}
.cart-field h3 {
  border-bottom: #000 solid 1px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.cart-field .middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart-field .middle img {
  width: 40px;
  border-radius: 5px;
}
.cart-field .middle .cart-details p {
  font-size: 1.2rem;
}
.cart-field .middle #delected {
  width: 15px;
  cursor: pointer;
}
.cart-field .checkout {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  background-color: orange;
  color: #fff;
}
.cart-informations {
  text-align: center;
}
.cart-field.visible {
  opacity: 1;
}
@media (max-width: 736px) {
  header {
    position: relative;
    margin-bottom: 0;
  }
  .overlay {
    position: absolute;
    width: 100vw;
    height: 150vh;
    top: 0;
    left: 100px;
    bottom: 0;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.595);
    display: none;
  }
  .overlay.active {
    display: block;
  }
  header .logo {
    margin-right: auto;
    margin-left: 2%;
  }
  header .mobile-menu {
    display: block;
    cursor: pointer;
  }
  header .navbar {
    background-color: #fff;
    position: absolute;
    z-index: 7;
    height: 150vh;
    width: 200px;
    top: 0;
    left: 0;
    padding: 30px;
    font-weight: 700;
    border: solid #000 2px;
    border-left: solid #000 10px;
    display: none;
  }
  header .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 35px;
  }
  header .navbar ul li {
    cursor: pointer;
    color: #000;
  }
  header .navbar.open {
    display: block;
  }
  header .navbar ul .close-mobile-navbar {
    display: block;
  }
}
